body{background:#2f4f4f;}
#wrap {width:95%; background-color:white; margin-left: auto; margin-right: auto; margin-top:20px; padding-bottom:40px;
 border-radius: 25px;  height:auto;display:block; overflow: auto;}
#content {padding:20px;}
#controlDiv {margin-top:40px;}
#nav {display:block; margin-top:40px; text-align:center;}
.controlBtn {width:90%; height:40px; margin: 0 auto;   font-size:1.3em; letter-spacing:2px; font-weight:bold;}


.textInput {display:inline-block;}
.settingLine {padding-top:10px;}
.settingInput {display:inline-block; padding-left:7px;}
.settingLabel {width:230px;}
.numberInput {width:75px; text-align:center;}
.testImage {width:400px; height:300px; display: block; margin: 0 auto;}

/* Configure IP camera section */
#txtIpAddress{display:block; width:200px; text-align:center; margin-top:20px; margin: 0 auto; }
.searchBtn {margin-top:20px; width:200px;}
.configure {margin: 0 auto; text-align:center; align-content:center; padding-top:20px;padding-bottom:20px;}